* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: helvetica;
  overflow-x: hidden;
   
  background-color:#0a0a0a;
}

img {
  width: 100%;
  height: 100%;
}

.fa-caret-down {
  margin: 0.2em 0.6em 0.2em 0.4em;
}

.wrapper {
  min-width: 100vw;
  overflow: hidden;
  margin: 0;
  
  
}

.wrapper header {
  height:37.5vw;
  background: url('../Images/xmen.jpg') no-repeat center;
  background-size: cover;
  display:flex;
  flex-direction: column;
}

.background-video {
    position: absolute;
    height: 37.5vw;
    width: 100vw;
    object-fit: cover;
    display: none; /* Initially hidden */
}

@media (max-width: 768px) {
  .wrapper header {
     /* Adjust height for smaller screens as needed */
     
     height:56.25vw;
    background-size: cover;
    background-position: center;
  }
  .background-video {
    position: absolute;
    height: 56.25vw;
    object-fit: cover;
    display: none; /* Initially hidden */
}
}

.wrapper header .description {
  color: white;
  width: 400px;
  margin: auto 0;
  padding-left: 1.5em;
  margin-bottom: 0%;
}
.wrapper header .description p {
  line-height: 1.3;
  letter-spacing: 0.1em;
  font-size: 0.9em;
}

.wrapper main {
  background: #0a0a0a;
  padding: 0.6em 1em 2em;
}
.wrapper main section {
  padding-bottom: 1em;
}
.wrapper main section h3 {
  margin: 0;
  font-weight: 200;
  color: white;
  font-size: 0.98em;
}
.wrapper main section .multiple-items {
  position: relative;
  margin: 1em 0;
}
.wrapper main section .multiple-items .fa-chevron-left {
  cursor: pointer;
  font-size: 1.2em;
  color: #db0000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 40px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper main section .multiple-items .fa-chevron-right {
  cursor: pointer;
  color: #db0000;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 40px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper main section .multiple-items img {
  margin: 0 0.15em;
  transition: transform 0.3s ease-in-out;
}

.wrapper main section .multiple-items img:hover {
  transform: scale(1.5);
}
.wrapper main section .multiple-items img:focus {
  outline-color: #db0000;
}
